/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */
/**********************************************************************************
********************************* GLOBAL ******************************************
***********************************************************************************/
html, body {
    height: 100%;
}

body {
    color: #212226;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #FFF;
    overflow: hidden;
}

a:hover {
    text-decoration: none;
}

/**********************************************************************************
********************************* GENERAL *****************************************
***********************************************************************************/
.colored-text {
    color: #5C9320;
}

[class^="lni-"], [class*=" lni-"] {
    display: inline-block;
}


/**********************************************************************************
********************************* HOME ********************************************
***********************************************************************************/
#home {
    height: 100%;
    background: none;
}

#home-bg-video {
    position: fixed; /*There would be some pbm here*/
    
    /* Make the video to be on the center of the screen, so that if the screen resizes video also resizes*/
    
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    /* Making image as fallback*/
    background: url("../video/video.jpg") no-repeat center;
    
    z-index: -1;
}
.home-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    
    z-index: -1;
}

.home-content {
    width: 100%;
    height: 100%;
    display: table;
}
.home-content-inner {
    display: table-cell;
    vertical-align: middle;
}
.home-heading {
    color: #FFF;
    font-weight: 100;
    font-size: 5rem;
    text-transform: capitalize;
    margin: 0;
}
.home-heading .colored-text {
    font-weight: 500;
}

.home-desc {
    color: #FFF;
    font-weight: 100;
    font-size: 17px;
    margin: 10px 0 30px;
}

.arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #FFF;
    font-size: 32px;
    text-align: center;
    
}
.arrow-down:hover,
.arrow-down:focus {
    color: #5C9320;
}
/**********************************************************************************
**************************** BUTTONS ********************************************
***********************************************************************************/

.btn-general {
    font-family: 'Raleway', sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px 46px;
    transition: all .5s;
}
.btn-green {
    color: #FFF;
    background: #5C9320;
}

.btn-white {
    color: #212226;
    background: #FFF;
}

.btn-white:hover,
.btn-white:focus,
.btn-green:hover,
.btn-green:focus {
    color: #FFF;
    background: #212226;
}

.btn-general.btn-gradient {
    color: #FFF;
    background-size: 200%;
    background-image: linear-gradient(to right, #5C9320 0%, #63C600 51%, #5C9320 100%);
}
.btn-general.btn-gradient:hover {
    background-position: right;
}

/*
TODO: BRING TO TOP BUTTON NEEDS TO BE DESIGNED!
*/
/**********************************************
PRELOADER
**********************************************/
.loader{
/*
    width:100%;
    height:100%;
*/
    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    z-index: 8888;
    
    background-color: #63C600;
    background: linear-gradient(to right, #5C9320 2%, #63C600 82%);
}

.loader-inner{
    position: absolute;
        
    width:100px;
    height:100px;
    
    top:50%;
    left:50%;
    
    transform: translate(-50%,-50%);
}

.loader-blocks{
    width: 60px;
    height: 60px;
}

.loader-blocks span{
    width:12px;
    height:12px;
    background: #FFF;
    border-radius: 100%;
    opacity: 0;
    display:block;
    position: absolute;
    animation: load 4.6s ease-in-out infinite;
}

.loader-blocks span.block-1{
    top:0;
    left:0;
    animation-delay: 1.07s;
}
.loader-blocks span.block-2{
    top:0;
    left:16px;
    animation-delay: 0.97s;
}
.loader-blocks span.block-3{
    top:0;
    left:32px;
    animation-delay: 0.87s;
}
.loader-blocks span.block-4{
    top:0;
    left:48px;
    animation-delay: 0.77s;
}
.loader-blocks span.block-5{
    top:16px;
    left:0;
    animation-delay: 0.67s;
}
.loader-blocks span.block-6{
    top:16px;
    left:16px;
    animation-delay: 0.57s;
}
.loader-blocks span.block-7{
    top:16px;
    left:32px;
    animation-delay: 0.47s;
}
.loader-blocks span.block-8{
    top:16px;
    left:48px;
    animation-delay: 0.37s;
}
.loader-blocks span.block-9{
    top:32px;
    left:0;
    animation-delay: 0.27s;
}
.loader-blocks span.block-10{
    top:32px;
    left:16px;
    animation-delay: 0.17s;
}
.loader-blocks span.block-11{
    top:32px;
    left:32px;
    animation-delay: 0.07s;
}
.loader-blocks span.block-12{
    top:32px;
    left:48px;
    animation-delay: -0.07s;
}
.loader-blocks span.block-13{
    top:48px;
    left:0;
    animation-delay: -0.17s;
}
.loader-blocks span.block-14{
    top:48px;
    left:16px;
    animation-delay: -0.27s;
}
.loader-blocks span.block-15{
    top:48px;
    left:32px;
    animation-delay: -0.37s;
}
.loader-blocks span.block-16{
    top:48px;
    left:48px;
    animation-delay: -0.47s;
}

@keyframes load{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    15%{
        opacity: 0;
        transform: translateY(-100px);
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    60%{
        opacity: 1;
        transform: translateY(0);
    }
    75%{
        opacity: 1;
        transform: translateY(-100px);
    }
    85%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 0;
        transform: translateY(100px);
    }
}

/**********************************************************************************
********************************* CONTENT BOXES *****************************************
***********************************************************************************/
.content-box-lg {
    padding: 120px 0;    
}
.content-box-md {
    padding: 105px 0;    
}
.content-box-sm {
    padding: 90px 0;    
}

/**********************************************************************************
************************ VERTICAL / HORIZONTAL HEADING *******************************
***********************************************************************************/
.horizontal-heading {
    text-align: center;
}
.vertical-heading h5,
.horizontal-heading h5 {
    color: #5C9320;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
}
.vertical-heading h5 {
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -55px;
}
.horizontal-heading h5 {
    margin-bottom: 10px;
}

.vertical-heading h2,
.horizontal-heading h2 {
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
}
.vertical-heading h2 {
    margin: 0 0 0 35px;
}
.horizontal-heading h2 {
    margin: 0;
}
.vertical-heading h2 strong,
.horizontal-heading h2 strong{
    color: #5C9320;
}
.vertical-heading,
 
.horizontal-heading {
 
margin-bottom: 40px;
 
}

/**********************************************************************************
**************************** ABOUT US SECTION *************************************
***********************************************************************************/

#about-right p {
    margin-bottom: 30px;
}
#about-bottom {
    margin-top: 60px;
}
#about-bottom img {
    margin: 0 auto;
}


#about-02 {
    background: #F4F4F4;
}
.about-item {
    background: #FFF;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about-item i {
    font-size: 42px;
    margin: 0;
}
.about-item h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.about-item hr {
    width: 45px;
    height: 3px;
    background: #5C9320;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}

/* Smooth Transition */
.about-item,
.about-item i,
.about-item h3,
.about-item hr,
.about-item p {
    transition: all .4s ease-in-out;
}

/*Hover State*/
.about-item:hover {
    background: #5C9320;
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #FFF;
}
.about-item:hover hr {
    background-color: #FFF;
}

.about-item:hover i {
    transform: translateY(-20px);
}

/**********************************************************************************
**************************** TEAM SECTION *************************************
***********************************************************************************/
.team-member {
    position: relative;
}
.team-member-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 34, 48, 0.8);
    transition: all .3s linear;
    opacity: 0;
    visibility: hidden;
}
.team-member-info {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.team-member-info h6{
    color: #5C9320;
    font-size: 16px;
    margin: 0;
}
.team-member-info p{
    color: #FFF;
}

.team-member:hover .team-member-overlay {
    opacity: 1;
    visibility: visible;
}


/**********************************************************************************
**************************** OWL NAVS **************************************
***********************************************************************************/
.owl-theme .owl-nav [class*=owl-] {
    background: none;
    font-size: 40px;
    margin: 0;
    color: #212226;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #5C9320;
}

/**********************************************************************************
**************************** SOCIAL ICONS **************************************
***********************************************************************************/
ul.social-list {
    padding: 0;
    list-style: none;
    margin-top: 20px;
}
ul.social-list li {
    display: inline-block;
    padding: 0;
}
ul.social-list li a {
    border: solid 1px #FFF;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #FFF;
    border-radius: 50%;
    transition: all .4s linear;
}
ul.social-list li.fb-icon a:hover {
    background: #3B5998;
}
ul.social-list li.twitter-icon a:hover {
    background: #00ACED;
}
ul.social-list li.google-plus-icon a:hover {
    background: #DD4B39;
}
.skill {
    margin-bottom: 40px;
}
.skill h4 {
    line-height: 62px;
    margin: 0;
    font-weight: normal;
}
.progress {
    height: 12px;
    border-radius: 50px;
    background: #EFEFEF;
    overflow: visible;
}
.progress-bar {
    background-image: linear-gradient(to right, #5C9320 0%, #63C600 51%, #5C9320 100%);
    border-radius: 50px;
    position: relative;
}
.progress-bar span {
    background: #212226;
    padding: 3px;
    position: absolute;
    right: -15px;
    top: -40px;
}
.progress-bar span:before {
    content: "";
    border-top: solid 8px #212226;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 25%;
}

/**********************************************************************************
**************************** STATEMENT SECTION *************************************
***********************************************************************************/
#statement {
    background: url("../img/tech/tech-statement.jpg") no-repeat fixed center / cover; /* / cover wont work in safari */
    background-size: cover;
}
#statement .content-box-lg {
    background: rgba(0, 0, 0, 0.3);
}
.tech-statement h3 {
    color: #FFF;
    width: 80%;
    font-size: 28px;
    line-height: 45px;
    margin: 0 auto;
}
.tech-statement p {
    color: #FFF;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    margin-top: 10px;
}